/*--------------------RESET----------------------------------*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
/*--------------------PARA EL RESPONSIVE------------------------*/
html{
    font-size: 62.5%;
    /*1 rem = 10px*/ 
}
body{
    display: flex;
}
img{
    display: block;
}
a{
    display: block;
    text-decoration: none;
}
h2{
    font-size: 1.4rem;
    font-weight: 400;
}
nav{
    width: 24rem;
    height: 90rem;
    background-color: #145762;
    display: flex;
    flex-direction: column;
}
.nav-opcion img{
    width: 1.6rem;
    height: 1.6rem;
}
.nav-opcion h2{
    color: white;
}
.logo{
    background-color: rgb(0, 72, 83);
    width: 24rem;
    height: 6.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-image{
    width: 12rem;
    height: 2.8rem;
}
.nav-opcion{
    height: 5rem;
    display: flex;
    align-items: center;
    position: relative;
    top: 3.2rem;
    transition: 0.5s;
}
.nav-opcion:hover{
    background-color: rgb(10, 77, 88);
}
.nav-opcion:focus{
    background-color: rgb(10, 77, 88);
}
.nav-opcion:focus img{
    transition: 0.75s;
    transform: rotate(360deg);
}
.nav-opcion:focus img#rotar180{
    transform: rotate(180deg);
}
.nav-opcion img{
    margin: 0rem 1.6rem 0rem 1.6rem;
}
.desplegar{
    display: flex;
}
#desplegar{
    justify-content: space-between;
}
#sin-imagen-al-principio{
    padding-left: 4.8rem;
}
/*--------------------HEADER------------------------*/
section{
    width: 100%;
    height: 90rem;
}
h3{
    font-size: 2rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.87);
}
header h3#abm{
    margin: 0rem 0rem 0rem 4rem;
}
header div .usuario{
    margin: 0rem 0.8rem 0rem 0rem;
}
header{
    width: 100%;
    height: 6.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header img{
    width: 2.4rem;
    height: 2.4rem;
}
header div{
    display: flex;
}
header img{
    margin: 0rem 0.8rem 0rem 0.8rem;
}
header img#header-ultima{
    margin: 0rem 2.8rem 0rem 0.8rem;
}
/*--------------------PUNTO DE VENTA------------------------*/
.punto-de-venta{
    background-color: rgb(0, 72, 83);
    width: 100%;
    height: 19rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.lugar-buscador-crear{
    width: 93.75%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.lugar{
    align-self: flex-end;
}
.lugar-elegido{
    display: flex;
    align-items: center;
    margin: 0rem 0rem 1.7rem 0rem;
}
.lugar-elegido img{
    width: 3.2rem;
    height: 3.2rem;
}
h4{
    color: white;
    font-size: 2.4rem;
    font-weight: 700;
}
h5{
    color: white;
    font-size: 1.2rem;
    font-weight: 400;
}
.lugar-procedencia{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0rem 0rem 1.8rem 3.2rem;
}
.lugar-procedencia h5{
    margin: 0rem 0.8rem 0rem 0.8rem;
}
.lugar-procedencia #primer-lugar{
    margin: 0rem 0.8rem 0rem 0rem;
}
.lugar-procedencia #ultimo-lugar{
    margin: 0rem 0rem 0rem 0.8rem;
}
.buscador{
    background-color: white;
    width: 25rem;
    height: 5rem;
    display: flex;
    align-items: center;
}
.buscador form input{
    width: 100%;
    height: 4rem;
}
.buscador::before{
    content: "";
    position: relative;
    background-color: white;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    right: 2rem;
}
.buscador::after{
    content: "";
    position: relative;
    background-color: white;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    left: 2rem;
}
.crear-punto-venta h3{
    background-color: rgb(30, 136, 245);
    color: white;
    padding: 1.6rem 2.4rem 1.6rem 2.4rem;
    border-radius: 0.8rem;
    font-size: 1.6rem;
    font-weight: 700;
}
.menu{
    width: 93.75%;
    height: 6rem;
    background-color: white;
    border-top-left-radius: 0.8rem;
    border-top-right-radius: 0.8rem;
    display: flex;
    align-items: center;
}
.menu h3{
    color: black;
    font-size: 1.6rem;
    font-weight: 400;
    margin: 0rem 6.85rem 0rem 6.85rem;
}
.menu h3#punto-de-venta{
    margin: 0rem 6.85rem 0rem 4.7rem;
}
.menu h3#configuracion{
    margin: 0rem 6.85rem 0rem 6.85rem;
}
.menu a{
    height: 100%;
    display: flex;
    align-items: center;
    transition: 0.09s;
}
.menu a:hover{
    border-bottom: 0.2rem solid rgb(255, 88, 45);
}
/*----------------SELECCION--------------*/
.seleccion{
    background-color: white;
    width: 100%;
    height: 64.6rem;
    display: flex;
    justify-content: center;
}
.opcion-elegida{
    width: 93.75%;
    height: 56.1rem;
    box-shadow: 0px 2px 8px 0px rgba(61, 61, 61, 0.15);
    display: flex;
    padding: 3.2rem;
}
.configuraciones{
    width: 21.6rem;
    height: 18.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0rem 0.1rem 0.3rem 0rem rgba(0, 0, 0, 0.1);
    box-shadow: 0rem 0.1rem 0.2rem 0rem rgba(0, 0, 0, 0.06);
    border-radius: 0.8rem;
    border: 0.1rem solid rgba(0, 0, 0, 0.045);
    margin: 0rem 3rem 0rem 0rem;
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: 0.5s;
}
.configuraciones h4{
    color: rgb(20, 87, 98);
    font-size: 2.4rem;
    font-weight: 400;
    margin: 0rem 0rem 1rem 0rem;
}
.configuraciones p#activado{
    color: rgb(0, 166, 121);
}
.configuraciones p{
    color: rgb(255, 75, 67);
    font-size: 1.4rem;
    font-weight: 400;
}
.configuraciones#otro-ultimo{
    margin: 0rem 0rem 0rem 0rem;
}
.configuraciones:hover{
    transform: scale(1.05);
}
@media (min-width:1681px){
    html{
        font-size: 67.3%;
    }
}