/*---------------------------RESET------------------------------*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
/*---------------------PARA EL RESPONSIVE-----------------------*/
html{
    font-size: 62.5%;
    /*1 rem = 10px*/ 
}
/*--------------------AJUSTES INDIVIDUALES----------------------*/
img{
    display: block;
}
a{
    display: block;
    text-decoration: none;
}
/*--------------------ESTRUCTURA PRINCIPAL----------------------*/
body{
    display: flex;
}
/*------------------------NAVIGATION----------------------------*/
nav{
    background-color: #145762;
}
.logo{
    background-color: rgb(0, 72, 83);
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
}
.nav-opcion{
    display: flex;
    align-items: center;
}
.nav-opcion img{
}
.nav-opcion h2{
    font-size: 1.4rem;
    font-weight: 400;
    color: white;
}
.nav-opcion:hover{
    transition: 0.5s;
    background-color: rgb(10, 77, 88);
}
.nav-opcion:focus{
    transition: 0.5s;
    background-color: rgb(10, 77, 88);
}
.nav-opcion:focus img{
    transition: 0.75s;
    transform: rotate(360deg);
}
.nav-opcion:focus img.rotar180{
    transform: rotate(180deg);
}
.desplegar{
    display: flex;
}
.con-space-between{
    justify-content: space-between;
}
.sin-imagen-al-principio{
}
/*--------------------------SECTION-----------------------------*/
section{
}
/*--------------------------HEADER------------------------------*/
h3{
    font-size: 2rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.87);
}
header h3.abm{
}
header div .usuario{
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header img{
}
header div{
    display: flex;
}
header img{
}
header img.header-ultima{
}
/*------------------------PUNTO DE VENTA------------------------*/
.punto-de-venta{
    background-color: rgb(0, 72, 83);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
/*---------------------LUGAR/BUSCADOR/CREAR---------------------*/
.lugar-buscador-crear{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*----------------------------LUGAR-----------------------------*/
.lugar{
    align-self: flex-end;
}
.lugar-elegido{
    display: flex;
    align-items: center;
}
.lugar-elegido img{
}
h4{
    color: white;
    font-size: 2.4rem;
    font-weight: 700;
}
h5{
    color: white;
    font-size: 1.2rem;
    font-weight: 400;
}
.lugar-procedencia{
    display: flex;
    justify-content: center;
    align-items: center;
}
.lugar-procedencia h5{
}
.lugar-procedencia .primer-lugar{
}
.lugar-procedencia .ultimo-lugar{
}
/*--------------------------BUSCADOR----------------------------*/
.buscador{
    display: flex;
    justify-content: center;
    background-color: white;
    display: flex;
    align-items: center;
    border-radius: 2.8rem;
}
.buscador input{
    border: none;
    outline: none;
}
.buscador input::placeholder{
    font-size: 1.4rem;
    font-weight: 400;
}
/*------------------BOTÓN:CREAR PUNTO DE VENTA------------------*/
.crear-punto-venta a{
    background-color: rgb(30, 136, 245);
    color: white;
    border-radius: 0.8rem;
    font-size: 1.6rem;
    font-weight: 700;
}
/*-----------MENÚ: PUNTO DE VENTA/DETALLE/CONFIGURACIÓN---------*/
.menu{
    background-color: white;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    display: flex;
    align-items: center;
}
.menu a{
    color: black;
    font-size: 1.6rem;
    font-weight: 400;
}
.menu a.primera-opcion{
}
.menu a{
    display: flex;
    align-items: center;
}
.menu a:hover{
    border-bottom: 0.2rem solid rgb(255, 88, 45);
    transition: 0.1s;
}
.menu a:focus{
    border-bottom: 0.2rem solid rgb(255, 88, 45);
}
/*------------SELECCIÓN DEL MENÚ: OPCIÓN ELEGIDA----------------*/
.seleccion{
    background-color: white;
    display: flex;
    justify-content: center;
}
.opcion-elegida{
    box-shadow: 0px 2px 8px 0px rgba(61, 61, 61, 0.15);
    display: flex;
}
.configuraciones{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0rem 0.1rem 0.3rem 0rem rgba(0, 0, 0, 0.1);
    box-shadow: 0rem 0.1rem 0.2rem 0rem rgba(0, 0, 0, 0.06);
    border-radius: 0.8rem;
    border: 0.1rem solid rgba(0, 0, 0, 0.045);
}
.configuraciones h4{
    color: rgb(20, 87, 98);
    font-size: 2.4rem;
    font-weight: 400;
}
.configuraciones p.activado{
    color: rgb(0, 166, 121);
}
.configuraciones p{
    color: rgb(255, 75, 67);
    font-size: 1.4rem;
    font-weight: 400;
}
.configuraciones.ultima-caja{
}
.configuraciones:hover{
    transform: scale(1.05);
    transition: 0.75s;
}
/*------------------RESPONSIVE: MEDIA QUERIES-------------------*/
/*@media (min-width:1681px){
    html{
        font-size: 67.3%;
    }
}
Por cada 1% que le aumente al font-size la pagina aumenta un 1.6%*/